# Gradle files
.gradle/
build/

# IDEA and other IDE project files
.idea/
*.iml

# VS Code
.vscode/

# Maven target (if using Maven)
target/

# Logs
*.log

# Operating system files
Thumbs.db
.DS_Store